@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}
h2 {
  letter-spacing: 5px;
}

/*ABOUT*/

.intro{
  display: flex;
  justify-content: center;
  padding: 50px;
}
.intro_text{
  width: 50%;
  padding-right: 25px;
}
.intro_title{
  color: #87596e;
}
.intro_paragraph{
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 35px;
}
.profpic{
  height: 300px;
  padding-left: 25px;
}
