@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

h2 {
  letter-spacing: 5px;
}

/*ABOUT*/

.intro{
  display: flex;
  justify-content: center;
  padding: 50px;
}
.intro_text{
  width: 50%;
  padding-right: 25px;
}
.intro_title{
  color: #87596e;
}
.intro_paragraph{
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 35px;
}
.profpic{
  height: 300px;
  padding-left: 25px;
}
.link > p {
  position: relative;
  bottom: 10px;
  padding-left: 20px;
  letter-spacing:2px;
  color: #87596e;
}
.link {
  display: flex;
  padding: 10px;
}
.link_img {
  height: 30px;
}
.links_container{
 padding-left: 200px;
}

.contact_wrapper{
  display: flex;
  justify-content: space-between;
}
/*CONTACT FORM*/
form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
  position: relative;
  right: 200px;
  bottom: 20px;
}
.form_title{
  color: #87596e;
}
button {
  position: relative;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 30px;
  background-color: #87596e;
  color: white;
  font-size: 20px;
}
label {
  letter-spacing:2px;
  padding-right: 15px;
}
input {
  height: 22px;
  width: 270px;
}
.form_input {
  padding: 10px;
}






