@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

h2 {
  letter-spacing: 5px;
}

a {
  text-decoration: none;
}

/*ABOUT*/

.intro{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.intro_text{
  width: 50%;
  padding-right: 25px;
}

.intro_title{
  color: #87596e;
}

.paragraph{
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 35px;
}

.profpic{
  height: 300px;
  padding-left: 25px;
}

.link > p {
  position: relative;
  bottom: 10px;
  padding-left: 20px;
  letter-spacing:2px;
  color: #87596e;
}

.link {
  display: flex;
  padding: 10px;
}

.link_img {
  height: 30px;
}

.links_container{
 padding-left: 200px;
}

.contact_wrapper{
  display: flex;
  justify-content: space-between;
}

/*CONTACT FORM*/

form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
  position: relative;
  right: 200px;
  bottom: 20px;
}

.form_title{
  color: #87596e;
}

button {
  position: relative;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 30px;
  background-color: #87596e;
  color: white;
  font-size: 20px;
}

label {
  letter-spacing:2px;
  padding-right: 15px;
}

input {
  height: 22px;
  width: 270px;
}

.form_input {
  padding: 10px;
}

/*WEBDEV*/

.mouseattack{
  display: flex;
  justify-content: space-between;
  padding: 100px;
  padding-top: 25px;
  margin-left: 75px;
  margin-right: 75px;
}

.image_container{
  width: 50%;
}

.mouse_image{
  height: 300px;
  padding-top: 70px;
}

.description{
  width: 50%;
  padding: 20px;
}

.description2{
  width: 55%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left_p{
  text-align:right;
}

.header{
  color: #87596e;
}

.play{
  font-size: 20px;
  color: #87596e;
}

.sketch{
  display: flex;
  justify-content: flex-end;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 100px;
  margin-left: 75px;
  margin-right: 75px;
}

.comingsoon{
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin-left: 75px;
  margin-right: 75px;
}

.sketchimage{
  height: 400px;
}

.comingsoonimage{
  height: 300px;
}

/*ART*/

.art{
  display: inline;
  position: relative;
  left: 25%;
}

aside {
  overflow: scroll;
  width: 50%;
  line-height: 0;
  column-count: 3;
  column-gap: 5px;
  padding-right: 10px;
}

.thumbnail_img {
  max-width: 100% !important;
  height: auto !important;
  padding: 5px;
}

.container {
  display: flex;
}

.feature {
  position: fixed;
  right: 100px;
  bottom: 0px;
  margin: 0 auto;
  width: 450px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 5px;
}

.feature_img {
  margin: 0 auto;
  max-width: 90%;
}

/*HOME*/

.card_container{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 350px;
}

.card_header{
  font-size: 18px;
  color: #87596e;
}

.card_image{
  height: 350px;
}












